*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
app/.idea/misc.xml
app/.idea/workspace.xml
app/src/main/java/Changelog.md
app/.idea/codeStyleSettings.xml
app/.idea/libraries
